body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: map-get($colors, gray-100);
  color: map-get($colors, gray-900);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

ul, ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

a {
  color: map-get($colors, primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
